ANCHOR_PROVIDER_URL=https://api.devnet.solana.com

# This key must have multisig Proposer permission
ANCHOR_WALLET=/path/to/wallet/keypair.json

# GLAM vault state PDA
GLAM_STATE=

# Squads multisig PDA. This is NOT the Squads Vault pubkey
# Go to https://app.squads.so/squads/<your-squads>/settings, find "Multisig Account" address
SQUADS_MULTISIG=